<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Average waiting time</h4>
        </div>
        <!--/.col-->
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="chart-wrapper" style="height: 300px; margin-top: 40px">
        <canvas
          baseChart
          class="chart"
          [datasets]="mainChartData"
          [labels]="mainChartLabels"
          [options]="mainChartOptions"
          [colors]="mainChartColours"
          [legend]="mainChartLegend"
          [chartType]="mainChartType"
        ></canvas>
      </div>
    </div>
  </div>
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Total visitor by state
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Total visitor by state
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
